div.error,
div.success {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

div.error {
  color: red;
  border-color: red;
}

div.success {
  color: green;
  border-color: green;
}
